.page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  flex-direction: column;
  gap: 1.2vmax;

  video {
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }

  .button-show-or-not {
    width: 1.4vmax;
    height: 1.4vmax;
    padding: 1vmax;
    border: 0.1vmax solid #0003;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    border-radius: 50%;
    background-color: #0002;
    margin-inline: auto;

    &:active {
      opacity: 0.5;
    }
  }

  .rectangle {
    width: 18vmax;
    height: 7vmax;
    background-image: linear-gradient(to bottom right, orange, cyan);

    &.rectangle-gradient {
      background-image: linear-gradient(to bottom right, orange, cyan);
    }

    &.rectangle-hidden {
      opacity: 0;
    }
  }
}
