/* polygon-gradient */

::view-transition-group(root) {
  animation-timing-function: ease-in-out;
}
::view-transition-new(root) {
  mask: url('/assets/custom-svg.svg') top left / 0 no-repeat;
  mask-origin: top left;
  animation: scale 1.5s;
  animation-fill-mode: both;
}
::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: scale 1.5s;
  animation-fill-mode: both;
  z-index: -1;
  transform-origin: top left;
}
@keyframes scale {
  to {
    mask-size: 200vmax;
  }
}
   

:root {
  background: white;
}

.dark {
  background: black;
}
