.page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  padding: 1.3vmax;
  overflow: hidden;
  --primary: #222;
  user-select: none;

  .am-general-container {
    width: 40vmax;
    height: 28vmax;
    background-color: #eee;
    border-radius: 2vmax;

    .top-general {
      display: flex;
      padding: 1vmax;
      padding-inline: 1.3vmax;
      border-bottom: 0.1vmax solid var(--primary);
      place-content: center;
      place-items: center;
      
      justify-content: space-between;

      .hamburguer {
        width: 2.7vmax;
        border-radius: 1vmax;
        height: 0.3vmax;
        background-color: var(--primary);
        box-shadow: 0 0.7vmax 0 var(--primary), 0 -0.7vmax 0 var(--primary);
        transform: scale(0.7);
        
      }

      .title {
        display: flex;
        align-items: center;

        h2,
        h3 {
          display: inline-flex;
          font-size: 1.4vmax;
          
        }

        h3 {
          background-color: rgb(255, 199, 94);
          padding: 0.5vmax;
          border-radius: 50%;
        }
      }

      .magnificent-glass {
        width: 1.5vmax;
        height: 1.5vmax;
        border-radius: 50%;
        transform: translateY(-20%) scale(0.7);
        position: relative;
        border: 0.3vmax solid var(--primary);

        &::before {
          content: '';
          position: absolute;
          height: 150%;
          width: 0.3vmax;
          border-radius: 1vmax;
          background-color: var(--primary);
          left: 115%;
          top: 70%;
          transform: rotate(-45deg);
        }
      }
    }

    .am-title {
      padding: 1vmax;
      padding-bottom: 0;
      font-size: 1.3vmax;
    }

    .container-cards {
      display: flex;
      padding: 1vmax;
      gap: 0.7vmax;

      img {
        width: 100%;
      }

      h3 {
        font-size: 1vmax;
        
      }

      p {
        font-size: 0.93vmax;

        &:nth-of-type(1) {
          text-align: center;
        }

        &:last-child {
          text-align: right;
        }
      }
    }
  }

  .am-general-container-2 {
    display: flex;

    .left {
      width: 45%;

      img {
        width: 110%;
        border-radius: 0.3vmax;
        position: relative;
        left: -3.5vmax;
        bottom: 2vmax;
        box-shadow: 0 0 1vmax 0.4vmax #0c0c0cee;
      }
    }

    .right {
      width: 60%;
      display: flex;
      flex-direction: column;
      padding: 1vmax;
      padding-right: 5vmax;
      justify-content: center;
      position: relative;

      .am-close-video {
        position: absolute;
        right: 1vmax;
        top: 1vmax;
        width: 1.8vmax;
        height: 1.8vmax;
        border-radius: 50%;
      }

      h3 {
        font-size: 1.5vmax;
        margin-bottom: 0.4vmax;
      }

      p {
        font-size: 1.1vmax;
      }

      h3,
      p {
        transform: translateX(calc(var(--i) * 0.8vmax));
      }
    }
  }
}

.am-video {
  width: 100%;
  object-fit: cover;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: -1;
}
