.page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  padding: 2vmax;
}
.container-center {
  border: 0.1vmax solid #000;
  padding: 1vmax;

  .top {
    display: flex;
    justify-content: center;
    margin-bottom: 1.2vmax;

    .am-button {
      padding: 0.7vmax;
      border: 0.1vmax solid #111;
      background-color: #0002;
      display: flex;
      flex-wrap: wrap;
      place-content: center;
      border-radius: 50%;

      &:active {
        opacity: 0.5;
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    gap: 0.8vmax;
  }

  .am-row {
    display: flex;
    gap: 1vmax;
  }

  .left-rectangle {
    width: 13vmax;
    height: 6.8vmax;
    background-color: orange;
    background-image: var(--bg);
    border-radius: 0.8vmax;
  }

  .right-part {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    flex-direction: column;
  }
}

/* background-image: linear-gradient(135deg, #69ff97 10%, #00e4ff 100%); */
