.page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  padding: 2vmax;
}

.thumbnail {
  position: relative;
  width: 18vmax;
  height: 10vmax;
  border-radius: 1vmax;
}

.thumbnail-grande {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1vmax;
}

.gradient-bg {
  background-image: linear-gradient(135deg, #69ff97 10%, #00e4ff 100%);
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}
