:root {
  --glitter: url('https://dominicnikolai.github.io/project-421/assets/image.webp');
  --clr: var(--clr, blue);
}

.sparkles {
  --shadows: 0%;
  --shadowl: 0%;
  --clr: 180;
  font-size: 1.5vmax;
  font-weight: 700;
  letter-spacing: 0.1vmax;
  border-radius: 8vmax;
  background: linear-gradient(
    0deg,
    hsla(var(--clr), 100%, 70%) 0%,
    hsla(var(--clr), 100%, 65%) 5%,
    hsla(var(--clr), 80%, 35%) 15%,
    hsla(var(--clr), 70%, 30%) 25%,
    hsla(var(--clr), 25%, 0%) 50%,
    hsla(var(--clr), 25%, 12%) 90%
  );
  background-size: 200% 300%;
  background-position: 0% 0%;
  box-shadow: inset 0 0 0.3vmax hsla(var(--clr), 30%, 20%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  padding: 0;
  position: relative;
  overflow: hidden;
  transform: translate(0vmax);
  text-decoration: none;
  transition-property: background-position, box-shadow, transform, filter, opacity;
  transition-duration: 0.5s, 0.5s, 0.5s, 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.77, 0, 0.18, 1),
    cubic-bezier(0.77, 0, 0.18, 1), cubic-bezier(0.77, 0, 0.18, 1),
    cubic-bezier(0.77, 0, 0.18, 1), cubic-bezier(0.77, 0, 0.18, 1);
  box-shadow: 0 -0.52vmax 0.52vmax transparent, 0 0.52vmax 0.52vmax transparent,
    0 0.52vmax 0.52vmax transparent, 0 0.52vmax 0.52vmax transparent,
    0 0.26vmax 0.31vmax -0.13vmax hsla(var(--clr), 0%, 0%, 0.5),
    0 0.36vmax 0.49vmax hsla(var(--clr), 0%, 0%, 0.75);
  text-transform: capitalize;
}

.sparkles::before,
.sparkles::after {
  --gradientPos: 50% 100%;
  content: ' ';
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  transition: inherit;
  border-radius: 8vmax;
}

.sparkles:before {
  inset: 0;
  position: absolute;
  transform: translate3d(0, 0, 0.00065vmax);
  background-size: 19.53vmax 11.08vmax, 18.23vmax 8.47vmax, 200% 200%;
  background-position: 0 0, 0 0, var(--gradientPos);
  border-radius: inherit;
  background-image: var(--glitter), var(--glitter),
    linear-gradient(180deg, black 0%, white 80%);
  background-blend-mode: multiply, multiply, overlay;
  background-repeat: repeat;
  mix-blend-mode: color-dodge;
  filter: brightness(2) contrast(0.75);
  animation: bubble 20s linear infinite;
  animation-play-state: paused;
  opacity: 0.5;
  box-shadow: inset 0 -0.52vmax 0.65vmax -0.46vmax
    hsla(var(--clr), 70%, 80%, 0.75);
}

.sparkles:after {
  background-image: radial-gradient(
      ellipse at center 70%,
      hsla(var(--clr), 100%, 99%, 0.8) 5%,
      hsla(var(--clr), 90%, 80%, 1) 20%,
      transparent 50%,
      transparent 200%
    ),
    linear-gradient(
      90deg,
      hsla(var(--clr), 80%, 10%, 1) -10%,
      transparent 25%,
      transparent 75%,
      hsla(var(--clr), 80%, 10%, 1) 110%
    );
  box-shadow: inset 0 0.26vmax 0.78vmax rgba(0, 0, 0, 1),
    inset 0 -0.05vmax 0.21vmax rgba(255, 255, 255, 0.4),
    inset 0 -0.07vmax 0.2vmax hsla(var(--clr), 80%, 50%, 0.75);
  filter: blur(0.33vmax);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: 180% 80%, cover;
  background-position: center 220%;
  mix-blend-mode: hard-light;
  opacity: 0;
}

.sparkles:hover,
.sparkles.over {
  --shadows: 90%;
  --shadowl: 80%;
  background-position: 100% 100%;
  transition-property: background-position, box-shadow, transform, filter, opacity;
  transition-duration: 0.5s, 0.5s, 0.5s, 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.77, 0, 0.18, 1),
    cubic-bezier(0.77, 0, 0.18, 1), cubic-bezier(0.77, 0, 0.18, 1),
    cubic-bezier(0.77, 0, 0.18, 1), cubic-bezier(0.77, 0, 0.18, 1);
  box-shadow: 0 -0.21vmax 1.56vmax hsla(var(--clr), 90%, 50%, 0.3),
    0 0.52vmax 2.08vmax hsla(var(--clr), 90%, 70%, 0.55),
    0 0.26vmax 0.31vmax -0.21vmax hsla(var(--clr), 0%, 0%, 1),
    0 0.36vmax 0.78vmax hsla(var(--clr), 0%, 0%, 1),
    0 0.26vmax 0.52vmax -0.31vmax hsl(var(--clr), 30%, 99%, 1),
    0 0.26vmax 0.52vmax hsla(var(--clr), 20%, 30%, 0.35),
    inset 0 -0.13vmax 0.33vmax -0.13vmax rgba(255, 255, 255, 0.5);
}

.sparkles.over {
  transition-duration: 2s;
}

.sparkles:hover:before,
.sparkles.over:before {
  --gradientPos: 50% 50%;
  animation-play-state: running;
  filter: brightness(2) contrast(1);
  box-shadow: inset 0 -0.33vmax 0.65vmax -0.26vmax hsla(var(--clr), 70%, 80%, 0.3);
  opacity: 0.8;
}

.sparkles:hover:after,
.sparkles.over:after {
  opacity: 0.8;
  transform: translateY(0vmax) scale(3);
}

.sparkles span {
  grid-column: 1;
  grid-row: 1;
  background-image: linear-gradient(
    hsl(calc(var(--clr) - 43), 27%, 85%) 0%,
    hsl(calc(var(--clr) - 60), 22%, 80%) 19%,
    hsl(calc(var(--clr) - 50), 20%, 75%) 30%,
    hsl(calc(var(--clr) - 52), 36%, 98%) 43%,
    hsl(var(--clr), 70%, 70%, 1) 51%,
    hsl(var(--clr), 50%, 85%, 1) 52%,
    rgb(255, 255, 255) 100%
  );
  background-size: 1.04vmax 3.59vmax;
  filter: drop-shadow(0 0 0.05vmax rgba(0, 0, 0, 0.5))
    drop-shadow(0 0.05vmax 0.05vmax rgba(0, 0, 0, 0.5));
  color: rgb(214, 222, 226);
  -webkit-text-fill-color: transparent;
  background-clip: text;

  transition-timing-function: inherit;
  transition-duration: inherit;
  transition-delay: 0s;
  padding: 0.78vmax 1.56vmax;
  transform: translateY(0);
  z-index: 10;
}

.sparkles:hover span,
.sparkles:active span,
.sparkles.over span {
  background-position-y: -100%;
}

.sparkles:active {
  transform: translateY(0.08vmax);
  box-shadow: 0 -0.21vmax 1.56vmax hsla(var(--clr), 90%, 50%, 0.4),
    0 0.52vmax 2.08vmax hsla(var(--clr), 90%, 70%, 0.65),
    0 0.16vmax 0.31vmax -0.21vmax hsla(var(--clr), 0%, 0%, 1),
    0 0.26vmax 0.78vmax hsla(var(--clr), 0%, 0%, 1),
    0 0.26vmax 0.52vmax -0.31vmax hsl(var(--clr), 30%, 99%, 1),
    0 0.26vmax 0.52vmax hsla(var(--clr), 20%, 30%, 0.45),
    inset 0 -0.13vmax 0.33vmax -0.13vmax rgba(255, 255, 255, 0.65);
  transition-duration: 0.1s;
}

.sparkles:active:before,
.sparkles:active:after {
  opacity: 1;
  filter: brightness(3) contrast(0.75);
  animation-duration: 8s;
}
.sparkles:active:after {
  filter: brightness(1.35) contrast(0.8) blur(0.2vmax);
}

@keyframes bubble {
  0% {
    background-position: 0 22.14vmax, 0 8.47vmax, var(--gradientPos);
  }
  100% {
    background-position: 0 0, 0 0, var(--gradientPos);
  }
}

:root {
  --canvas: 220;
  --bg: hsl(var(--canvas), 15%, 22%);
  --fg: hsl(var(--canvas), 39%, 95%);
  --link: hsl(var(--canvas), 90%, 80%);
  --linkh: hsl(150, 95%, 70%);
  --wgt: 200;
}

.sparkles {
  color: var(--fg);
  background: var(--bg);
  font-weight: var(--wgt);
  background: hsl(var(--canvas), 10%, 10%);
  color: inherit;
  border: none;
  border-radius: 0.52vmax;
  padding: 0.26vmax 0.52vmax;
  font-family: inherit;
  font-size: 1.3vmax;
}

/***** extra ****/
.container-button-ej {
  position: absolute;
  right: 1vmax;
  bottom: 1vmax;
  width: fit-content;
}
