@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url('/assets/space-grotesk.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  place-content: center;
}

:root {
  --bg-color: #191825;
  --color-1: #30e3df;
  --color-2: #fce22a;
  --color-3: #f94a29;
  --color-4: #d61355;
  --border-color-space: 0.2vmax;
}

.title-1 {
  font-size: 4.5vmax;
  font-family: 'Space Grotesk', serif;
  letter-spacing: var(--border-color-space);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  text-align: center;
  color: var(--bg-color);
  background: linear-gradient(
    90deg,
    var(--color-1),
    var(--color-2),
    var(--color-3),
    var(--color-4)
  );
  background-clip: text;
  -webkit-text-stroke: var(--border-color-space) transparent;
  filter: drop-shadow(0.1vmax 0.1vmax 0.3vmax rgba(0, 0, 0, 0.7));
  margin-inline: auto;
}
