.page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  padding: 2vmax;
}

.liquid-button {
  display: none;
}

.button {
  padding: 40px;
  border-radius: 60px;
  background-color: #e8e8e8;
}

.water-drop {
  position: relative;
  border: none;
  height: 150px;
  width: 150px;
  border-radius: 58% 58% 28% 58%;
  background: transparent;
  box-shadow: inset -6px -33px 30px 0 #5497c6, inset -20px -80px 15px 0 #dbf6ff96,
    inset -30px -100px 15px 0 #c8ebf7b0, inset 0px -120px 15px 0 #b0eafd9c,
    -10px -20px 20px 0px #b7b7b7;
  transform: rotate(-137deg);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.water-drop::before {
  content: '';
  position: absolute;
  border-radius: 38% 55% 46% 48%;
  background: #fff;
  box-shadow: -6px -4px 20px #cae5ee, inset 2px 2px 10px #e2f5fa93;
  width: 45px;
  height: 14px;
  bottom: 10px;
  right: 60px;
  transform: rotate(12deg);
  transition: all 0.5s ease-in-out;
}

.water-drop::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background: #fff;
  width: 10px;
  height: 8px;
  bottom: 25px;
  left: 30px;
  transform: rotate(40deg);
  transition: all 0.5s ease-in-out;
}

.bubble {
  position: absolute;
  border-radius: 50%;
  background: transparent;
  transition: all 0.5s ease-in-out;
}

.bubble1 {
  right: 35px;
  top: 50px;
  height: 10px;
  width: 10px;
  box-shadow: 2px 6px 6px -4px #7ca4b2 inset;
}
.liquid-button:checked + .button .donut-transform .bubble1 {
  right: 35px;
  top: 20px;
}

.bubble2 {
  right: 30px;
  top: 30px;
  height: 14px;
  width: 14px;
  box-shadow: 2px 6px 6px -2px #84adc8 inset;
}
.liquid-button:checked + .button .donut-transform .bubble2 {
  right: 20px;
}
.bubble3 {
  right: 22px;
  top: 45px;
  height: 5px;
  width: 5px;
  box-shadow: 0px 0px 4px -1px #618fa8 inset;
}
.liquid-button:checked + .button .donut-transform .bubble3 {
  left: 12px;
  top: 58px;
}

.bubble4 {
  left: 30px;
  top: 70px;
  height: 20px;
  width: 20px;
  box-shadow: 2px 4px 6px -1px #97c3da inset;
}
.liquid-button:checked + .button .donut-transform .bubble4 {
  left: 8px;
  top: 78px;
}

.bubble5 {
  left: 25px;
  top: 90px;
  height: 12px;
  width: 12px;
  box-shadow: 2px 4px 6px -1px #8cb6cb inset;
}
.liquid-button:checked + .button .donut-transform .bubble5 {
  left: 10px;
  top: 65px;
}

.ripple {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}

.wave {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  opacity: 0;
  background-color: transparent;
  border: 2px solid #dae9f3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 6px 6px 18px 0 #3754aa33, 6px 6px 18px 0 #3754aa33 inset,
    -6px -6px 18px 0 #fff, -6px -6px 18px 0 #fff inset;
  filter: blur(2px);
}

.wave2 {
  height: 125%;
  width: 125%;
}

.wave3 {
  height: 150%;
  width: 150%;
}

.circle {
  opacity: 0;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  background-color: #fff;
  box-shadow: 6px 33px 30px -10px #5497c6, 15px -10px 15px 0 #89c1e9a8,
    30px -10px 15px 0 #c4eefc, -5px -10px 15px 0 #9bccef,
    -10px -15px 20px 0px #b7b7b7 inset;
  z-index: 10;
  transition: opacity 0.5s ease-in-out;
}

@keyframes size {
  0% {
    border-radius: 50%;
  }
  25% {
    border-radius: 30% 30% 30% 30%;
  }
  50% {
    border-radius: 30% 30% 30% 30%;
  }
  75% {
    border-radius: 40% 40% 40% 40%;
  }
  100% {
    border-radius: 50% 50% 50% 50%;
  }
}

@keyframes wave {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}

.liquid-button:checked + .button .donut-transform {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  transform: rotate(-137deg);
  box-shadow: inset -4.5px -24.75px 22.5px -7.5px #5497c6,
    inset -15px -60px 11.25px 0 #96dbf396, inset -7.5px 15px 11.25px 0 #96dbf396,
    inset -7.5px 15px 22.5px -7.5px #84bfea, -7.5px -15px 15px 0px #b7b7b7;
  animation: size 1s ease-in-out 2;
}

.liquid-button:checked + .button .donut-transform::before {
  z-index: 11;
  background-color: #fff;
  border-radius: 38% 50% 50% 38%;
  width: 15px;
  height: 7.5px;
  bottom: 30px;
  left: 22.5px;
  transform: rotate(45deg);
}

.liquid-button:checked + .button .donut-transform::after {
  border-radius: 50%;
  background: #fff;
  width: 6px;
  height: 5.25px;
  bottom: 43.5px;
  left: 16.5px;
  transform: rotate(40deg);
}

.liquid-button:checked + .button .donut-transform .bubble {
  animation: wave 3s linear 1;
}

.liquid-button:checked + .button .donut-transform .ripple .wave {
  animation: wave 2s ease-in-out 1, wave 2s linear 1;
  animation-delay: -1s, 0.5s;
}

.liquid-button:checked + .button .donut-transform .circle {
  animation: size 1s ease-in-out 2;
  opacity: 1;
}
