::view-transition-new(root),
.dark::view-transition-new(root) {
  animation: diamond-in-center 1.5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(.25, 1, .30, 1);
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: diamond-out-center 1.5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(.25, 1, .30, 1);
}

@keyframes diamond-in-center {
  from {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  }
  to {
    clip-path: polygon(-50% 50%, 50% -50%, 150% 50%, 50% 150%);
  }
}

@keyframes diamond-out-center {
  from {
    clip-path: polygon(-50% 50%, 50% -50%, 150% 50%, 50% 150%);
  }
  to {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  }
}

:root {
  background: linear-gradient(to right, lime, cyan);
}

.dark {
  background: linear-gradient(to right, orange, rgb(172, 78, 234));
}




