.page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  flex-direction: column;
  gap: 1.2vmax;

  video {
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }

  .container-buttons {
    display: flex;
    width: fit-content;
    margin-inline: auto;
    gap: 1vmax;
  }

  .button-show-or-not {
    width: 1.4vmax;
    height: 1.4vmax;
    padding: 1vmax;
    border: 0.1vmax solid #0003;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    border-radius: 50%;
    background-color: #0002;
    margin-inline: auto;

    &:active {
      opacity: 0.5;
    }
  }

  .rectangle {
    width: 18vmax;
    height: 7vmax;
    position: relative;
    background-image: linear-gradient(to bottom right, lime, dodgerblue);

    &.rectangle-gradient {
      background-image: linear-gradient(to bottom right, lime, dodgerblue);
    }

    &.rectangle-hidden {
      opacity: 0;
    }
  }
}

::view-transition-new(.slide-in-left),
::view-transition-new(.slide-in-right),
::view-transition-old(.slide-out-left),
::view-transition-old(.slide-out-right) {
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

::view-transition-new(.slide-in-left) {
  animation-name: slideInLeft;
}

::view-transition-old(.slide-out-right) {
  animation-name: slideOutRight;
}

::view-transition-new(.slide-in-right) {
  animation-name: slideInRight;
}

::view-transition-old(.slide-out-left) {
  animation-name: slideOutLeft;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
